body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html * {
  font-family: Roboto;
}

.navbar {
  margin-bottom: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C485E9	;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ab5dda;
}

.form-errors {
    color: #DD3999
}

#payments {
    padding-top: 100px;
}

#expenditure {
    padding-top: 100px;
}

.center-text {
    text-align: center;
}

.option-span {
    margin-left: 5px;
}

.months-column {
    margin-left: 2%;
}

.months-h4 {
    margin-left: 3%;
}

.days-h4 {
    padding-left: 300px;
}